.info-group {
	margin-top: 15px;
}
.price,
.variant {
	margin-top: 40px;
}

$colors: (
	"red": #db2828,
	"yellow": #fbbd08,
	"green": #21ba45,
);

input[type="radio"] {
	display: none;
	&:checked + label {
		span {
			transform: scale(1.25);
		}
		@each $name, $value in $colors {
			.#{$name} {
				border: 2px solid darken($value, 25%);
			}
		} // !@each
	} // !&:checked + label
}

label {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	cursor: pointer;
	&:hover {
		span {
			transform: scale(1.25);
		}
	}
	span {
		border-radius: 50px;
		display: block;
		width: 100%;
		height: 100%;
		transition: transform 0.2s ease-in-out;
		@each $name, $value in $colors {
			&.#{$name} {
				background: $value;
			}
		}
	}
}

.quantity .btn {
	padding: 0px;
	width: 24px;
	height: 24px;
}

.card-supplier {
	box-shadow: 0px 0px 8px 0px #00000026;
	border: none;
}

.accord {
	border: none;
}

.specs {
	list-style-position: inside;
}
.review-form {
	border-radius: 20px;
}

.input-review::placeholder {
	color: #f4f4f4;
}
.user-review {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 75vh;
}

.review-form:hover > .validateLoginReview {
	opacity: 0.5;
	z-index: 10;
}

.validateLoginReview {
	transition: all 0.1s ease-in;
	border-radius: 20px 0 0 20px;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -20;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}

.validateLoginReview div {
	z-index: 20;
	opacity: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.versi {
	margin-bottom: 10px;
	margin-right: 7px;
}

// scroll

.scrollable::-webkit-scrollbar {
	width: 5px;
}

.scrollable::-webkit-scrollbar-track {
	// box-shadow: inset 0 0 1px grey;
	background-color: #f1f1f1;
	border-radius: 10px;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
	background: #66aa23;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
	background: #4f831b;
}

.btn-rate {
	background: none;
	border: none;
	outline: none;
}
