body {
	font-family: "Quicksand";
	background: #fff;
}
.btn:focus {
	outline: none;
	box-shadow: none;
}

@media (min-width: 992px) {
	.col-lg-15 {
		flex: 0 0 auto;
		width: 12.5%;
	}
}
.accordion-button:focus {
	box-shadow: none;
	border-color: rgba(0, 0, 0, 0.125);
}

.form-control {
	border-radius: 10px;
}
.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #82c631;
	outline: 0;
	box-shadow: none;
	border-radius: 10px;
}
.btn-grow:hover {
	transform: scale(1.05);
}
.btn-shrink:hover {
	transform: scale(0.99) !important;
}
.btn-cart {
	color: #6c727c;
	border: none;
	background-color: #fff;
	border-radius: 10px;
	border-color: #fff;
	padding: 6px;
	transition: all 0.1s ease-in-out;
}
.btn-cart:hover,
.btn-cart:active,
.btn-cart:focus {
	color: #6c727c;
	background-color: #f7f7f7;
	border-radius: 10px;
	border-color: #fff;
}
.btn-search {
	color: #82c631;
	background-color: #f1fcd6;
	border-radius: 10px;
	border-color: #ced4da;
	transition: all 0.1s ease-in-out;
}
.btn-search:hover,
.btn-search:active,
.btn-search:focus {
	color: #82c631;
	background-color: #f1fcd6;
	border-radius: 10px;
	border-color: #ced4da;
}
footer {
	background-image: linear-gradient(to right, #69ba10, #98e74a);
	color: white;
}

.bd-footer a:link,
.bd-footer a:visited {
	text-decoration: none;
	color: white;
}

.bd-footer a:hover {
	font-weight: bold;
}

.bd-footer h5 {
	font-weight: bold;
}

.bt-footer {
	background-color: #66aa23;
	color: white;
}

.btn-contact {
	color: black !important;
	background: rgba(255, 255, 255, 0.8);
}

.btn-contact:hover {
	color: black !important;
	background: rgba(255, 255, 255, 1);
	border-color: rgba(255, 255, 255, 1);
	font-weight: normal !important;
}
#joinNow {
	padding-bottom: 250px;
	position: relative;
}
#joinNow .jn-content {
	top: 10rem;
	right: 5rem;
	left: 5rem;
	position: absolute;
	max-width: 80rem;
}
#joinNow .card {
	border: none;
}
#joinNow .jn-content .card p {
	text-align: justify;
	font-size: 14px;
}
#joinNow .jn-content .card img {
	object-fit: cover;
}
.social img {
	padding: 5px;
	border-radius: 50px !important;
	background-color: #66aa23;
}
@keyframes arrow-banner {
	from {
		margin: auto 10px;
	}
	to {
		margin: auto -20px;
	}
}
@keyframes arrow-left {
	from {
		margin: auto 50px;
	}
	to {
		margin: auto 30px;
	}
}
@keyframes arrow-right {
	from {
		margin: auto 10px;
	}
	to {
		margin: auto -20px;
	}
}
.category {
	cursor: pointer;
	font-size: 14px;
	border: solid 1px rgba(108, 114, 124, 0.05);
}
.category:hover {
	transform: scale(1.05);
}

// Background
.bg-primary-eid {
	background-color: #82c631;
}
.bgc-1 {
	background: #fdf0cb;
}
.bgc-2 {
	background: #fde6da;
}
.bgc-3 {
	background: #d6e4ff;
}
.bgc-4 {
	background: #f6f6f6;
}
.bgc-5 {
	background: #d6e4ff;
}
.bgc-6 {
	background: #ffe7db;
}
.bgc-7 {
	background: #fdf0cb;
}
.bgc-8 {
	background: #effcd1;
}
img.carousel-arrow {
	padding: 0.85rem;
}

div#overlay {
	opacity: 0.5;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	position: fixed;
}
div#menu-footer ul li a {
	font-size: 16px;
}
div#menu-footer ul li a:hover {
	text-decoration: underline;
}

.truncate-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.contain-cart {
	position: relative;
}

.contain-cart .count {
	font-size: 12px;
	text-align: center;
	position: absolute;
	color: white;
	background-color: #66aa23;
	border-radius: 25px;
	border: 3px solid white;
	top: -5px;
	right: -10px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.contain-cart .data-cart {
	position: absolute;
	background-color: white;
	padding: 25px;
	border-radius: 20px;
	width: 500px;
	top: 25px;
	right: 0px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}
