$enable-negative-margins: true;
$form-check-input-checked-bg-color: #82c631;

$theme-colors: (
	"primary": #82c631,
	"secondary": #6c757d,
	"success": #198754,
	"info": #0dcaf0,
	"warning": #E28102,
	"danger": #F73131,
	"light": #ffffff,
	"dark": #000,
);
